<div class="mt-5">
<%= link_to new_spot_path, class: "ml-2 tableBt" do %>
  <i class="fa fa-plus"></i> Novo Lugar
<% end %>
<table class="pull-up display responsive no-wrap" id="spots_table">
  <thead>
    <tr>
      <th class="nosort"></th>
      <th>Nome</th>
      <th>Status</th>
      <th class="nosort">Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @spots.each do |s| %>
    <tr>
      <td></td>
      <td><%= s.name %></td>
      <td><%= s.status %></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>




<script>
$('#spots_table').DataTable({
  "responsive": true,
  "bInfo": false,
  "bLengthChange": false,
  'aoColumnDefs': [{
    'bSortable': false,
    'aTargets': ['nosort']
  }],
  "order": [[ 1, "asc" ]]
});

</script>
