/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require dataTables/jquery.dataTables
 *= require dataTables/extras/dataTables.responsive
 *= require_self
 */

 @import "bootstrap";
 @import "css/sb-admin";
 @import "css/bootstrap-select";
 @import "iziToast";

 $bg-color: #eee;
 $primary-color: #64a9a6;
 $primary-color-dark: #55908c;

html,
body {
    height: 100%;
    background-color: $bg-color !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

input:focus {
    box-shadow: none !important;
    border-color: #ced4da !important;
    outline: none;
}

.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
}

.btn-primary:hover, .btn-primary:active, .btn:focus:not(.dropdown-toggle) {
    background-color: $primary-color-dark !important;
    border-color: $primary-color-dark !important;
}

.sidebar {
    background-color: $primary-color;
}

.logo-menu {
  max-width: 225px;
  width: auto;
  height: auto;
}

.logo-login {
  max-width: 500px;
  width: 100%;
}

// SM ou menor
@media only screen and (max-width: 767px) {
  .tableBt {
    position: relative !important;
    margin-bottom: 20px;
  }
  .dataTables_filter {
    margin-bottom: 20px;
  }
}

li.active {
    background-color: $primary-color-dark;
}

table.pull-up {
    margin-top: -30px;
}

div.dataTables_paginate {
    text-align: center !important;
    float: none !important;
    margin-top: 15px;

    a.previous {
        margin-left: auto !important;
    }

    a.next {
        margin-right: auto !important;
    }
}

a.paginate_button {
    // override font-color here.
}
a.paginate_button:hover {
    // override hover font-color here.
}
a.paginate_button.current {
    // override current page button styling here.
}


.tableBt {
    z-index: 999;
    position: absolute;
}

.modal-lg {
    width: 80% !important;
}

.img-container{
  position:relative;
  display:inline-block;
  max-width: 140px;
  max-height: 100px;

  img {
    max-width: 100%;
    max-height: 95px;
    min-height: 95px;
  }
}
.img-container .overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgb(170,170,170);
  opacity:0;
  transition:opacity 500ms ease-in-out;
}
.img-container:hover .overlay{
  opacity: .9;

  span:hover {
    cursor: pointer;
    color: #fff;
  }
}
.overlay span{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:#fff;
}

 // DROPDOWN multiple

.dropdown-menu {

  li:hover, a:hover, .dropdown-item.active, .dropdown-item:active{
    background-color: $primary-color-dark !important;
    color: white !important;
  }

}
