/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require dataTables/jquery.dataTables
 *= require dataTables/extras/dataTables.responsive
 *= require_self
 */

 @import "bootstrap";
 @import "css/sb-admin";
 @import "css/bootstrap-select";
 @import "iziToast";

 $bg-color: #eee;
 $primary-color: #64a9a6;
 $primary-color-dark: #55908c;

html, 
body {
    height: 100%;
    background-color: $bg-color !important;
}

input:focus {
    box-shadow: none !important;
    border-color: #ced4da !important;
}

.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
}

.btn-primary:hover, .btn-primary:active, .btn:focus:not(.dropdown-toggle) {
    background-color: $primary-color-dark !important;
    border-color: $primary-color-dark !important;
}

.sidebar {
    background-color: $primary-color;
}

li.active {
    background-color: $primary-color-dark;
}

table.pull-up {
    margin-top: -30px;
}

div.dataTables_paginate {
    text-align: center !important;
    float: none !important;
    margin-top: 15px;

    a.previous {
        margin-left: auto !important;
    }

    a.next {
        margin-right: auto !important;
    }
}

.tableBt {
    z-index: 999;
    position: absolute;
}

.autocomplete-suggestions {
    background-color: #fff;
}

button.dropdown-toggle:focus {
    background-color: #dae0e5;
    border-color: #d3d9df;
}