// Place all the styles related to the spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#tasks {
  display: inline;
}

.spotImg {
  max-width: 180px;
  max-height: 135px;
  height: auto;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.spotImgModal {
  max-width: 320px;
  max-height: 240px;
  height: auto;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
